.itemgallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    max-width: 1240px;
    margin: auto;
}
.shopItemNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1240px;
    margin: auto;
    margin-top: 3rem;
}
.rightNav span{ padding-left: 10px; cursor: pointer; }
.leftNav span{ padding-right: 10px; }