.blogPageTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-image: url('https://res.cloudinary.com/inovatormatin/image/upload/v1653646910/eway/banner/shop-title_lcffhw.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}
.blog-content{
    width: 60%;
    max-width: 900px;
    margin: 2rem auto;
}
.blogImage{
    width: 100%;
    aspect-ratio: 2/1.1;
}
.blog-content p{
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.3;
}