.newproduct{
    margin: 2.4rem 0;
}
.npgallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    max-width: 1080px;
    margin: auto;
}
.npHeading{
    text-align: center;
    padding: 2rem 0;
}
.npHeading span{
    color: var(--lightGreen);
}
.npHeading h3, .npHeading p{
    margin: 10px 0 15px 0;
}
.npHeading h3{
    font-size: 2rem;
}