.searchpage .results {
  max-width: 1240px;
  min-height: 140px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e6e6;
  border-radius: 5px;
}
.searchpage h1 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 5px 30px 0 30px;
}
.searchpage hr {
  width: 50px;
  margin-top: 5px;
  margin-left: 0px;
  height: 4px;
  background-color: var(--lightGreen2);
  border: none;
}
.blogsSectionsearchpage > div {
  max-width: 1220px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.blogRes > div{
  max-width: 1220px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.productRes, .blogRes{
  margin-top: 15px;
}
